.navbar {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  margin: 50px auto;
  border-radius: 10px;
  margin: 10px 5px;
  a {
    border: 1px solid;
    padding: 10px;
    border-radius: 5px;
    background-color: blueviolet;
    text-decoration: none;
    color: white;
  }
}

.keyboard {
  display: flex;
  justify-content: center;
  margin: auto !important;
}

.key {
  width: 50px;
  height: 50px;
  border: 1px solid black;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  font-size: 18px;
}

.highlighted {
  background-color: gray;
}

.correct {
  background-color: green;
}

.incorrect {
  background-color: red;
}

#practice-count {
  /* position: absolute; */
  text-align: center;
  font-size: 16px;
}
